*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

article.imgbij{
    margin: auto auto;
    display: block;
    width:50vw;
    border: 10px rgb(58, 58, 58);
    border-style: solid;
    background-color:grey;
    padding:10px;
    margin-top:5%;
    margin-bottom: 5%;
    border-radius: 5px;
    
}
article> div.en{
    display:none;
    border: 0px solid red ;
    border-radius: 5px;
    
}

article.en > div.en{
    margin-left: auto auto;
    display:block;
    border: 10px solid red ;
    border-radius: 5px;
    max-width: 100%;
}
article > div.nl{
    display:block;
    border: 10px solid red ;
    border-radius: 5px;
}
article.en > div.nl{
    display:none;
    border: 20px solid red ;
    border-radius: 5px;
}


img{
    width: 100%;
    height:auto;
    
}
.lang-switch{
    background-color: yellow;
    border-style: solid;
    border: red;
    cursor: pointer;
    margin-left: 70%;
    border-radius: 3px;
    
}
button{
    background-color: yellow;
    border-style: solid;
    border: red;
    cursor: pointer;
}

article.art{
    margin: auto auto;
    display: block;
    width:50vw;
    border: 10px grey;
    border-style: solid;
    background-color: grey;
    padding:10px;
    margin-top:9%;
    margin-bottom: 5%;
    border-radius: 5px;
    
}

img{
    border-radius: 3px;
}

h1{
    padding-bottom: 2%;
}
